pointplusproche.ilk
pointplusproche.exe
pointplusproche.pdb
vc140.pdb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Algo/CopilotIndices/18.5.39187.10602/CodeChunks.db
.vs/Algo/CopilotIndices/18.5.39187.10602/SemanticSymbols.db
.vs/Algo.slnx/FileContentIndex/2039dc45-466a-4a20-be3e-e977cd9fac6a.vsidx
.vs/Algo.slnx/v18/.wsuo
pointplusproche.obj
.vs/Algo.slnx/v18/Browse.VC.db
.vs/Algo.slnx/v18/DocumentLayout.backup.json
.vs/Algo.slnx/v18/DocumentLayout.json
.vs/Algo.slnx/v18/ipch/AutoPCH/dc35d9fb0dce6160/POINTPLUSPROCHE.ipch
.vscode/tasks.json
